<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>{% if page.title %} {{ page.title }} | {% endif %}Le Moulin a.s.b.l</title>
	<link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css" media="all" />
	<link rel="stylesheet" type="text/css" href="/assets/css/main.css" media="all" />
</head>
<body class="{{ page.section }}">
    <header>
        <div class="contentmodule">
            <div class="wrapper">
                {% include languages.html %}
                <a href="/fr"><div class="logo"><div class="body"></div><div class="wings"></div></div></a>
                <div class="name"><a href="/fr"><strong>Le Moulin</strong> a.s.b.l</a></div>
                {% include nav_fr.html %}
            </div>
        </div>
    </header>

    <div class="contentmodule">
        <div class="wrapper">
            <div class="grid">
                <div class="grid__module  medium-span-9of12">
                    <main class="maincontent">

                        {{ content }}

                    </main>
                </div><!--
                --><div class="grid__module  medium-span-3of12">
                    <aside class="aside">
                    </aside> 
                </div>
            </div>
        </div>
	</div>

	<footer>
        <div class="contentmodule">
            <div class="wrapper">
                <p>Copyright &copy; 2015 Le Moulin a.s.b.l</p>
                <p><a title="Facebook" target="_blank" href="https://www.facebook.com/lemoulinasbl/">
                    <span class="icon"><svg version="1.1" width="512" height="512" viewBox="0 0 512 512">
                        <path d="M426.675 0h-341.351c-47.125 0-85.324 38.21-85.324 85.343v341.315c0 47.133 38.199 85.342 85.324 85.342h170.676v-224h-64v-64h64v-48c0-44.183 35.817-80 80-80h80v64h-80c-8.837 0-16 7.164-16 16v48h88l-16 64h-72v224h106.675c47.125 0 85.325-38.209 85.325-85.342v-341.315c0-47.133-38.2-85.343-85.325-85.343z"></path>
                    </svg></span>
                </a></p>
            </div>
        </div>
	</footer>

	<!-- Scripts -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-62281836-1', 'auto');
		ga('send', 'pageview');
	</script>
	<!-- /Scripts -->
</body>
</html>