<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>{% if page.title %} {{ page.title }} | {% endif %}Le Moulin a.s.b.l</title>
	<link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css" media="all" />
	<link rel="stylesheet" type="text/css" href="/assets/css/main.css" media="all" />
</head>
<body class="{{ page.section }}">
    <header>
        <div class="contentmodule">
            <div class="wrapper">
                {% include languages.html %}
                <a href="/fr"><div class="logo"><div class="body"></div><div class="wings"></div></div></a>
                <div class="name"><a href="/fr"><strong>Le Moulin</strong> a.s.b.l</a></div>
                {% include nav_fr.html %}
            </div>
        </div>
    </header>

    <div class="contentmodule">
        <div class="wrapper">
            <div class="grid">
                <div class="grid__module  medium-span-9of12">
                    <main class="maincontent">

                        {{ content }}

                    </main>
                </div><!--
                --><div class="grid__module  medium-span-3of12">
                    <aside class="aside">
                        <h2>Actualités</h2>
                        <p class="text-small"><em>15/11/2015</em></p>
                        <a target="_blank" href="https://www.facebook.com/events/1686526271560192/">
                            <img class="fluidimage" src="/assets/img/aside_poster_violences_femmes_400w.jpg" />
                        </a>

                        <p>L'asbl <a target="_blank" href="https://www.facebook.com/ciproc.be/?fref=photo">CIProC</a> organisera
                            <a target="_blank" href="https://www.facebook.com/events/1686526271560192/">une soirée de sensibilisation à la violence faite aux femmes</a> le samedi 28 novembre 2015.</p>
                    </aside>
                </div>
            </div>
        </div>
	</div>

	<footer>
        <div class="contentmodule">
            <div class="wrapper">
		        Copyright &copy; 2015 Le Moulin a.s.b.l
            </div>
        </div>
	</footer>

	<!-- Scripts -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-62281836-1', 'auto');
		ga('send', 'pageview');
	</script>
	<!-- /Scripts -->
</body>
</html>