<ul class="list-bare">
    {% assign posts = site.posts|where:"lang", page.lang %}
    {% for post in site.posts %}
    {% if post.lang == page.lang %}
    <li class="c-news">
        <div class="media">
            <div class="media__img  c-news__img">
                <a href="{{ post.url }}">
                    {% if post.img_folder %}
                        <img src="/assets/img/{{ post.img_folder }}/thumb.jpg" alt="" class="fluidimage">
                    {% else %}
                        <img src="/assets/img/logo_complet.png" alt="" class="fluidimage">
                    {% endif %}
                </a>
            </div>
            <div class="media__content  c-news__content">
                <h3>{{ post.title }}</h3>
                <p class="text-mute  text-small"><time>{{post.date | date: '%d/%m/%Y' }}</time></p>
                <p>{{ post.abstract }}</p>
                <p><a href="{{ post.url }}">{{ site.t[page.lang].read-more }}</a></p>
            </div>
        </div>
    </li>
    {% endif %}
    {% endfor %}
</ul>