.member {
	@extend %grid__module;
	@extend %medium-span-1of2;

	margin:0 0 1em;

	h4 {
		color:$blueDarker;
	}

	img {
		float:left;
		width:6em;
		vertical-align: top;
		padding:0 .5em 0 0;
		margin:0;
	}
}