/*
 * override any configuration specified in _grid.scss here
 *
*/
/*
 * Allows you to use named media queries based on breakpoints list in _variables.scss
*/
/*
 * Gutter between grid units
 *
 * Use only fixed value (em, rem, px)
*/
/*
 * Breakpoints using nested SASS list
 *
 * - First parameter: name of the breakpoint (also used to namespace grid classes)
 * - Second parameter: content of media query for defined breakpoint
 * - Third parameter: generate namespaced grid classes based on breakpoint or not
 *   (you might want to define media queries but not use them for grids)
*/
/*
 * Push and Pull classes
 *
 * switch to "false" if you don't need them
*/
/*
 * Use silent classes
 *
 * switch to "true" if you want to use @extend and silent classes
*/
/*
 * Use silent classes or not
*/
/*
 * Define grid
 *
 * [1] grid usable on lists
 * [2] kill default padding and margin
 * [3] compensating left and right margins of left and rightmost grid_modules in grid
*/
.grid {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -40px; }

/**
*
* grid aligned center
*
*/
.grid--center {
  text-align: center; }
  .grid--center > .grid__module, .grid--center > .address, .grid--center > .map {
    text-align: left; }

/**
*
* grid aligned right
*
*/
.grid--right {
  text-align: right; }
  .grid--right > .grid__module, .grid--right > .address, .grid--right > .map {
    text-align: left; }

/**
*
* grid gutterless
*
*/
.grid--gutterless {
  margin-left: 0; }
  .grid--gutterless > .grid__module, .grid--gutterless > .address, .grid--gutterless > .map {
    padding-left: 0; }

/**
*
* grid spaced (module with bottom margin equal to gutter)
*
*/
.grid--spaced {
  margin-left: 0; }
  .grid--spaced > .grid__module, .grid--spaced > .address, .grid--spaced > .map {
    margin-bottom: 40px; }

/*
 * Grid units
 *
 * - 1. grid modules are 100% by default
 * - 2. allows for padding without modifying the box width
 * - 3. gutters created using padding
 * - 4. using inline-block to stack the modules side by side (comment out white space in html)
 * - 5. align top of modules
*/
.grid__module, .address, .map {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  padding-left: 40px;
  display: inline-block;
  vertical-align: top; }

/*
 * proportionnaly nudge things to the left
 *
 * - using relative positioning and left positions
 * - combined with pull classes, this allows for more complex content choreography
*/
/*
 * proportionnaly nudge things to the right
 *
 * - using relative positioning and right positions
 * - combined with pull classes, this allows for more complex content choreography
*/
/*
 * In SASS, you cannot extend classes that are not in the same media queries / context
 *
 * - The code belows generate (silent) classes for all the defined media queries breakpoints
 * - This implies that you are using a mobile first approach
*/
/*
 * include basic non-namespaced (silent) classes without any media queries
*/
.span-full {
  width: 100%; }

.span-1of2, .span-2of4, .span-2of6, .span-4of8, .span-5of10, .span-6of12 {
  width: 50%; }

.span-1of3, .span-3of6, .span-4of12 {
  width: 33.333%; }

.span-2of3, .span-4of6, .span-8of12 {
  width: 66.666%; }

.span-1of4, .span-2of8, .span-3of12 {
  width: 25%; }

.span-3of4, .span-6of8, .span-9of12 {
  width: 75%; }

.span-1of5, .span-2of10 {
  width: 20%; }

.span-2of5, .span-4of10 {
  width: 40%; }

.span-3of5, .span-6of10 {
  width: 60%; }

.span-4of5, .span-8of10 {
  width: 80%; }

.span-1of6, .span-2of12 {
  width: 16.666%; }

.span-5of6, .span-10of12 {
  width: 83.333%; }

.span-1of8 {
  width: 12.5%; }

.span-3of8 {
  width: 37.5%; }

.span-5of8 {
  width: 62.5%; }

.span-7of8 {
  width: 87.5%; }

.span-1of10 {
  width: 10%; }

.span-3of10 {
  width: 30%; }

.span-7of10 {
  width: 70%; }

.span-9of10 {
  width: 90%; }

.span-1of12 {
  width: 8.333%; }

.span-5of12 {
  width: 41.666%; }

.span-7of12 {
  width: 58.333%; }

.span-11of12 {
  width: 91.666%; }

.push-full {
  position: relative;
  left: 100%; }

.push-1of2, .push-2of4, .push-2of6, .push-4of8, .push-5of10, .push-6of12 {
  position: relative;
  left: 50%; }

.push-1of3, .push-3of6, .push-4of12 {
  position: relative;
  left: 33.333%; }

.push-2of3, .push-4of6, .push-8of12 {
  position: relative;
  left: 66.666%; }

.push-1of4, .push-2of8, .push-3of12 {
  position: relative;
  left: 25%; }

.push-3of4, .push-6of8, .push-9of12 {
  position: relative;
  left: 75%; }

.push-1of5, .push-2of10 {
  position: relative;
  left: 20%; }

.push-2of5, .push-4of10 {
  position: relative;
  left: 40%; }

.push-3of5, .push-6of10 {
  position: relative;
  left: 60%; }

.push-4of5, .push-8of10 {
  position: relative;
  left: 80%; }

.push-1of6, .push-2of12 {
  position: relative;
  left: 16.666%; }

.push-5of6, .push-10of12 {
  position: relative;
  left: 83.333%; }

.push-1of8 {
  position: relative;
  left: 12.5%; }

.push-3of8 {
  position: relative;
  left: 37.5%; }

.push-5of8 {
  position: relative;
  left: 62.5%; }

.push-7of8 {
  position: relative;
  left: 87.5%; }

.push-1of10 {
  position: relative;
  left: 10%; }

.push-3of10 {
  position: relative;
  left: 30%; }

.push-7of10 {
  position: relative;
  left: 70%; }

.push-9of10 {
  position: relative;
  left: 90%; }

.push-1of12 {
  position: relative;
  left: 8.333%; }

.push-5of12 {
  position: relative;
  left: 41.666%; }

.push-7of12 {
  position: relative;
  left: 58.333%; }

.push-11of12 {
  position: relative;
  left: 91.666%; }

.pull-full {
  position: relative;
  right: 100%; }

.pull-1of2, .pull-2of4, .pull-2of6, .pull-4of8, .pull-5of10, .pull-6of12 {
  position: relative;
  right: 50%; }

.pull-1of3, .pull-3of6, .pull-4of12 {
  position: relative;
  right: 33.333%; }

.pull-2of3, .pull-4of6, .pull-8of12 {
  position: relative;
  right: 66.666%; }

.pull-1of4, .pull-2of8, .pull-3of12 {
  position: relative;
  right: 25%; }

.pull-3of4, .pull-6of8, .pull-9of12 {
  position: relative;
  right: 75%; }

.pull-1of5, .pull-2of10 {
  position: relative;
  right: 20%; }

.pull-2of5, .pull-4of10 {
  position: relative;
  right: 40%; }

.pull-3of5, .pull-6of10 {
  position: relative;
  right: 60%; }

.pull-4of5, .pull-8of10 {
  position: relative;
  right: 80%; }

.pull-1of6, .pull-2of12 {
  position: relative;
  right: 16.666%; }

.pull-5of6, .pull-10of12 {
  position: relative;
  right: 83.333%; }

.pull-1of8 {
  position: relative;
  right: 12.5%; }

.pull-3of8 {
  position: relative;
  right: 37.5%; }

.pull-5of8 {
  position: relative;
  right: 62.5%; }

.pull-7of8 {
  position: relative;
  right: 87.5%; }

.pull-1of10 {
  position: relative;
  right: 10%; }

.pull-3of10 {
  position: relative;
  right: 30%; }

.pull-7of10 {
  position: relative;
  right: 70%; }

.pull-9of10 {
  position: relative;
  right: 90%; }

.pull-1of12 {
  position: relative;
  right: 8.333%; }

.pull-5of12 {
  position: relative;
  right: 41.666%; }

.pull-7of12 {
  position: relative;
  right: 58.333%; }

.pull-11of12 {
  position: relative;
  right: 91.666%; }

/*
 * include namespaced (silent) classes for all media queries
 *
 * The third parameter must be set to true when defining breakpoints in variables.scss
*/
@media all and (min-width: 46.875em) {
  .medium-span-full {
    width: 100%; }
  .medium-span-1of2, .medium-span-2of4, .medium-span-2of6, .medium-span-4of8, .medium-span-5of10, .medium-span-6of12 {
    width: 50%; }
  .medium-span-1of3, .medium-span-3of6, .medium-span-4of12, .map {
    width: 33.333%; }
  .medium-span-2of3, .medium-span-4of6, .medium-span-8of12, .address {
    width: 66.666%; }
  .medium-span-1of4, .medium-span-2of8, .medium-span-3of12 {
    width: 25%; }
  .medium-span-3of4, .medium-span-6of8, .medium-span-9of12 {
    width: 75%; }
  .medium-span-1of5, .medium-span-2of10 {
    width: 20%; }
  .medium-span-2of5, .medium-span-4of10 {
    width: 40%; }
  .medium-span-3of5, .medium-span-6of10 {
    width: 60%; }
  .medium-span-4of5, .medium-span-8of10 {
    width: 80%; }
  .medium-span-1of6, .medium-span-2of12 {
    width: 16.666%; }
  .medium-span-5of6, .medium-span-10of12 {
    width: 83.333%; }
  .medium-span-1of8 {
    width: 12.5%; }
  .medium-span-3of8 {
    width: 37.5%; }
  .medium-span-5of8 {
    width: 62.5%; }
  .medium-span-7of8 {
    width: 87.5%; }
  .medium-span-1of10 {
    width: 10%; }
  .medium-span-3of10 {
    width: 30%; }
  .medium-span-7of10 {
    width: 70%; }
  .medium-span-9of10 {
    width: 90%; }
  .medium-span-1of12 {
    width: 8.333%; }
  .medium-span-5of12 {
    width: 41.666%; }
  .medium-span-7of12 {
    width: 58.333%; }
  .medium-span-11of12 {
    width: 91.666%; }
  .medium-push-full {
    position: relative;
    left: 100%; }
  .medium-push-1of2, .medium-push-2of4, .medium-push-2of6, .medium-push-4of8, .medium-push-5of10, .medium-push-6of12 {
    position: relative;
    left: 50%; }
  .medium-push-1of3, .medium-push-3of6, .medium-push-4of12 {
    position: relative;
    left: 33.333%; }
  .medium-push-2of3, .medium-push-4of6, .medium-push-8of12 {
    position: relative;
    left: 66.666%; }
  .medium-push-1of4, .medium-push-2of8, .medium-push-3of12 {
    position: relative;
    left: 25%; }
  .medium-push-3of4, .medium-push-6of8, .medium-push-9of12 {
    position: relative;
    left: 75%; }
  .medium-push-1of5, .medium-push-2of10 {
    position: relative;
    left: 20%; }
  .medium-push-2of5, .medium-push-4of10 {
    position: relative;
    left: 40%; }
  .medium-push-3of5, .medium-push-6of10 {
    position: relative;
    left: 60%; }
  .medium-push-4of5, .medium-push-8of10 {
    position: relative;
    left: 80%; }
  .medium-push-1of6, .medium-push-2of12 {
    position: relative;
    left: 16.666%; }
  .medium-push-5of6, .medium-push-10of12 {
    position: relative;
    left: 83.333%; }
  .medium-push-1of8 {
    position: relative;
    left: 12.5%; }
  .medium-push-3of8 {
    position: relative;
    left: 37.5%; }
  .medium-push-5of8 {
    position: relative;
    left: 62.5%; }
  .medium-push-7of8 {
    position: relative;
    left: 87.5%; }
  .medium-push-1of10 {
    position: relative;
    left: 10%; }
  .medium-push-3of10 {
    position: relative;
    left: 30%; }
  .medium-push-7of10 {
    position: relative;
    left: 70%; }
  .medium-push-9of10 {
    position: relative;
    left: 90%; }
  .medium-push-1of12 {
    position: relative;
    left: 8.333%; }
  .medium-push-5of12 {
    position: relative;
    left: 41.666%; }
  .medium-push-7of12 {
    position: relative;
    left: 58.333%; }
  .medium-push-11of12 {
    position: relative;
    left: 91.666%; }
  .medium-pull-full {
    position: relative;
    right: 100%; }
  .medium-pull-1of2, .medium-pull-2of4, .medium-pull-2of6, .medium-pull-4of8, .medium-pull-5of10, .medium-pull-6of12 {
    position: relative;
    right: 50%; }
  .medium-pull-1of3, .medium-pull-3of6, .medium-pull-4of12 {
    position: relative;
    right: 33.333%; }
  .medium-pull-2of3, .medium-pull-4of6, .medium-pull-8of12 {
    position: relative;
    right: 66.666%; }
  .medium-pull-1of4, .medium-pull-2of8, .medium-pull-3of12 {
    position: relative;
    right: 25%; }
  .medium-pull-3of4, .medium-pull-6of8, .medium-pull-9of12 {
    position: relative;
    right: 75%; }
  .medium-pull-1of5, .medium-pull-2of10 {
    position: relative;
    right: 20%; }
  .medium-pull-2of5, .medium-pull-4of10 {
    position: relative;
    right: 40%; }
  .medium-pull-3of5, .medium-pull-6of10 {
    position: relative;
    right: 60%; }
  .medium-pull-4of5, .medium-pull-8of10 {
    position: relative;
    right: 80%; }
  .medium-pull-1of6, .medium-pull-2of12 {
    position: relative;
    right: 16.666%; }
  .medium-pull-5of6, .medium-pull-10of12 {
    position: relative;
    right: 83.333%; }
  .medium-pull-1of8 {
    position: relative;
    right: 12.5%; }
  .medium-pull-3of8 {
    position: relative;
    right: 37.5%; }
  .medium-pull-5of8 {
    position: relative;
    right: 62.5%; }
  .medium-pull-7of8 {
    position: relative;
    right: 87.5%; }
  .medium-pull-1of10 {
    position: relative;
    right: 10%; }
  .medium-pull-3of10 {
    position: relative;
    right: 30%; }
  .medium-pull-7of10 {
    position: relative;
    right: 70%; }
  .medium-pull-9of10 {
    position: relative;
    right: 90%; }
  .medium-pull-1of12 {
    position: relative;
    right: 8.333%; }
  .medium-pull-5of12 {
    position: relative;
    right: 41.666%; }
  .medium-pull-7of12 {
    position: relative;
    right: 58.333%; }
  .medium-pull-11of12 {
    position: relative;
    right: 91.666%; } }

@media all and (min-width: 71.25em) {
  .large-span-full {
    width: 100%; }
  .large-span-1of2, .large-span-2of4, .large-span-2of6, .large-span-4of8, .large-span-5of10, .large-span-6of12 {
    width: 50%; }
  .large-span-1of3, .large-span-3of6, .large-span-4of12 {
    width: 33.333%; }
  .large-span-2of3, .large-span-4of6, .large-span-8of12 {
    width: 66.666%; }
  .large-span-1of4, .large-span-2of8, .large-span-3of12 {
    width: 25%; }
  .large-span-3of4, .large-span-6of8, .large-span-9of12 {
    width: 75%; }
  .large-span-1of5, .large-span-2of10 {
    width: 20%; }
  .large-span-2of5, .large-span-4of10 {
    width: 40%; }
  .large-span-3of5, .large-span-6of10 {
    width: 60%; }
  .large-span-4of5, .large-span-8of10 {
    width: 80%; }
  .large-span-1of6, .large-span-2of12 {
    width: 16.666%; }
  .large-span-5of6, .large-span-10of12 {
    width: 83.333%; }
  .large-span-1of8 {
    width: 12.5%; }
  .large-span-3of8 {
    width: 37.5%; }
  .large-span-5of8 {
    width: 62.5%; }
  .large-span-7of8 {
    width: 87.5%; }
  .large-span-1of10 {
    width: 10%; }
  .large-span-3of10 {
    width: 30%; }
  .large-span-7of10 {
    width: 70%; }
  .large-span-9of10 {
    width: 90%; }
  .large-span-1of12 {
    width: 8.333%; }
  .large-span-5of12 {
    width: 41.666%; }
  .large-span-7of12 {
    width: 58.333%; }
  .large-span-11of12 {
    width: 91.666%; }
  .large-push-full {
    position: relative;
    left: 100%; }
  .large-push-1of2, .large-push-2of4, .large-push-2of6, .large-push-4of8, .large-push-5of10, .large-push-6of12 {
    position: relative;
    left: 50%; }
  .large-push-1of3, .large-push-3of6, .large-push-4of12 {
    position: relative;
    left: 33.333%; }
  .large-push-2of3, .large-push-4of6, .large-push-8of12 {
    position: relative;
    left: 66.666%; }
  .large-push-1of4, .large-push-2of8, .large-push-3of12 {
    position: relative;
    left: 25%; }
  .large-push-3of4, .large-push-6of8, .large-push-9of12 {
    position: relative;
    left: 75%; }
  .large-push-1of5, .large-push-2of10 {
    position: relative;
    left: 20%; }
  .large-push-2of5, .large-push-4of10 {
    position: relative;
    left: 40%; }
  .large-push-3of5, .large-push-6of10 {
    position: relative;
    left: 60%; }
  .large-push-4of5, .large-push-8of10 {
    position: relative;
    left: 80%; }
  .large-push-1of6, .large-push-2of12 {
    position: relative;
    left: 16.666%; }
  .large-push-5of6, .large-push-10of12 {
    position: relative;
    left: 83.333%; }
  .large-push-1of8 {
    position: relative;
    left: 12.5%; }
  .large-push-3of8 {
    position: relative;
    left: 37.5%; }
  .large-push-5of8 {
    position: relative;
    left: 62.5%; }
  .large-push-7of8 {
    position: relative;
    left: 87.5%; }
  .large-push-1of10 {
    position: relative;
    left: 10%; }
  .large-push-3of10 {
    position: relative;
    left: 30%; }
  .large-push-7of10 {
    position: relative;
    left: 70%; }
  .large-push-9of10 {
    position: relative;
    left: 90%; }
  .large-push-1of12 {
    position: relative;
    left: 8.333%; }
  .large-push-5of12 {
    position: relative;
    left: 41.666%; }
  .large-push-7of12 {
    position: relative;
    left: 58.333%; }
  .large-push-11of12 {
    position: relative;
    left: 91.666%; }
  .large-pull-full {
    position: relative;
    right: 100%; }
  .large-pull-1of2, .large-pull-2of4, .large-pull-2of6, .large-pull-4of8, .large-pull-5of10, .large-pull-6of12 {
    position: relative;
    right: 50%; }
  .large-pull-1of3, .large-pull-3of6, .large-pull-4of12 {
    position: relative;
    right: 33.333%; }
  .large-pull-2of3, .large-pull-4of6, .large-pull-8of12 {
    position: relative;
    right: 66.666%; }
  .large-pull-1of4, .large-pull-2of8, .large-pull-3of12 {
    position: relative;
    right: 25%; }
  .large-pull-3of4, .large-pull-6of8, .large-pull-9of12 {
    position: relative;
    right: 75%; }
  .large-pull-1of5, .large-pull-2of10 {
    position: relative;
    right: 20%; }
  .large-pull-2of5, .large-pull-4of10 {
    position: relative;
    right: 40%; }
  .large-pull-3of5, .large-pull-6of10 {
    position: relative;
    right: 60%; }
  .large-pull-4of5, .large-pull-8of10 {
    position: relative;
    right: 80%; }
  .large-pull-1of6, .large-pull-2of12 {
    position: relative;
    right: 16.666%; }
  .large-pull-5of6, .large-pull-10of12 {
    position: relative;
    right: 83.333%; }
  .large-pull-1of8 {
    position: relative;
    right: 12.5%; }
  .large-pull-3of8 {
    position: relative;
    right: 37.5%; }
  .large-pull-5of8 {
    position: relative;
    right: 62.5%; }
  .large-pull-7of8 {
    position: relative;
    right: 87.5%; }
  .large-pull-1of10 {
    position: relative;
    right: 10%; }
  .large-pull-3of10 {
    position: relative;
    right: 30%; }
  .large-pull-7of10 {
    position: relative;
    right: 70%; }
  .large-pull-9of10 {
    position: relative;
    right: 90%; }
  .large-pull-1of12 {
    position: relative;
    right: 8.333%; }
  .large-pull-5of12 {
    position: relative;
    right: 41.666%; }
  .large-pull-7of12 {
    position: relative;
    right: 58.333%; }
  .large-pull-11of12 {
    position: relative;
    right: 91.666%; } }

/* == Colors == */
/* == Fonts == */
/**
 * CSS Media Object
 */
.media {
  overflow: hidden; }
  .media__img {
    float: left;
    margin-right: 1em; }
  .media__img img {
    display: block; }
  .media__content {
    float: left; }

/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *  user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *  (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* Font size */
/* Font families */
@font-face {
  font-family: "bettyregular";
  src: url("../fonts/betty_regular-webfont.eot");
  src: url("../fonts/betty_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/betty_regular-webfont.woff2") format("woff2"), url("../fonts/betty_regular-webfont.woff") format("woff"), url("../fonts/betty_regular-webfont.ttf") format("truetype"), url("../fonts/betty_regular-webfont.svg#bettyregular") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  font: 18px/1.5 Calibri, Ubuntu, sans-serif;
  color: #202020; }

/* Text variants */
.text-small {
  font-size: .8em; }

.text-mute {
  color: #909090; }

html {
  background: #204c5a; }

body {
  background: #FFFFFF; }

a {
  color: #4098B3; }

i {
  text-align: center;
  width: 1em; }

p {
  margin: .5em 0; }

ul {
  margin: .5em 0; }

strong {
  color: #4098B3; }

h1, h2, h3 {
  color: #204c5a; }

h1 {
  font-weight: normal;
  margin: 0 0 .25em 0;
  font-size: 2.2em; }
  @media all and (min-width: 46.875em) {
    h1 {
      font-size: 2.4em; } }

h2 {
  font-weight: normal;
  margin: 0 0 .25em 0;
  font-size: 1.8em; }
  @media all and (min-width: 46.875em) {
    h2 {
      font-size: 2em; } }

h3 {
  margin: 0 0 .25em 0;
  font-size: 1.1em; }
  @media all and (min-width: 46.875em) {
    h3 {
      font-size: 1.2em; } }

h4 {
  margin: 0 0 .25em;
  font-size: .8em; }
  @media all and (min-width: 46.875em) {
    h4 {
      font-size: .9em; } }

::-moz-selection {
  background: #204c5a;
  color: #FFFFFF; }

::selection {
  background: #204c5a;
  color: #FFFFFF; }

.aside {
  border-top: 1px solid #66adc2;
  margin-top: 1em;
  padding-top: 1em; }
  @media all and (min-width: 46.875em) {
    .aside {
      border-top: none;
      margin-top: 0;
      padding-top: 0; } }

.contentmodule {
  padding-top: 1em;
  padding-bottom: 1em; }

.wrapper {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1140px; }

.name {
  color: #4098B3;
  font-family: "bettyregular", sans-serif;
  font-size: 2em;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.2em;
  padding-left: .15em; }
  @media all and (min-width: 46.875em) {
    .name {
      font-size: 3em; } }
  .name a {
    text-decoration: none; }

.logo-link {
  display: inline-block; }
  @media all and (min-width: 46.875em) {
    .logo-link {
      float: left; } }

.logo {
  display: inline-block;
  position: relative;
  vertical-align: top;
  height: 100px;
  width: 155px; }
  .logo .body {
    background: url(../img/logo_corps.png);
    background-size: 100% 100%;
    position: absolute;
    height: 100px;
    width: 155px;
    top: 0;
    left: 0;
    z-index: 0; }
  .logo .wings {
    -webkit-animation: spin 10s linear infinite;
            animation: spin 10s linear infinite;
    background: url(../img/logo_ailes.png);
    background-size: 100% 100%;
    position: absolute;
    width: 90px;
    height: 90px;
    top: 0;
    left: 12px;
    z-index: 1; }
  .logo:hover .wings {
    -webkit-animation-play-state: paused;
            animation-play-state: paused; }

.language-switcher {
  margin-bottom: 1em; }
  .language-switcher ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .language-switcher li {
    display: inline-block; }
  .language-switcher .selected a {
    text-decoration: none; }
  @media all and (min-width: 46.875em) {
    .language-switcher {
      float: right;
      margin-bottom: 0;
      padding: 0 .5em .5em .5em; }
      .language-switcher li {
        display: block; } }

/* Let's make this mill turn */
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

footer {
  background: #204c5a;
  color: #FFFFFF;
  padding: 1em;
  margin-top: 1em;
  text-align: center; }

nav {
  margin: 2em 0 .5em; }
  @media all and (min-width: 46.875em) {
    nav {
      margin: .5em 0; } }
  @media all and (min-width: 46.875em) {
    nav {
      margin: 0; } }
  nav ul, nav li {
    margin: 0;
    padding: 0;
    list-style: none; }
  nav li {
    font-size: 1.2em;
    display: inline-block;
    width: 50%; }
    @media all and (min-width: 46.875em) {
      nav li {
        font-size: 1.2em;
        width: auto; } }
  nav a {
    box-sizing: border-box;
    background: #FFFFFF;
    text-decoration: underline;
    display: block;
    padding: 0 .4em;
    line-height: 2em;
    text-align: center;
    text-decoration: none;
    transition: all .25s ease-in-out;
    font-family: Calibri, Ubuntu, sans-serif;
    font-weight: 400;
    margin-right: .5em; }
    nav a:hover {
      background: #ecf5f7; }

.about .about a,
.news .news a,
.contact .contact a,
.team .team a {
  border-bottom: 1px solid #d9eaf0; }

.icon {
  display: inline-block;
  width: 32px;
  height: 32px; }
  .icon svg {
    fill: #FFFFFF;
    width: 100%;
    height: 100%; }

.list-bare {
  padding: 0;
  margin: 0 0 1em 0;
  list-style: none; }

.fluidimage {
  max-width: 100%; }

.c-news {
  margin-bottom: 2em; }
  .c-news__img {
    width: 33%; }
  .c-news__content {
    width: 60%; }

.intro {
  color: #204c5a;
  background: #d9eaf0;
  font-size: 1.1em;
  margin: 1em 0;
  padding: 1em; }
  @media all and (min-width: 46.875em) {
    .intro {
      font-size: 1.2em; } }

.contact ul {
  list-style: none;
  padding: 0; }

.member {
  margin: 0 0 1em; }
  .member h4 {
    color: #1a3d48; }
  .member img {
    float: left;
    width: 6em;
    vertical-align: top;
    padding: 0 .5em 0 0;
    margin: 0; }
