@import 'vendors/sassgrids/sassgrids';

@import 'utils/variables';

@import 'base/normalize';
@import 'base/typography';
@import 'base/base';

@import 'layout/grid';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/nav';

@import 'pages/homepage';
@import 'pages/contact';
@import 'pages/team';

@import 'themes/theme';