---
layout: fr/default
title: Nos activités
lang: fr
section: articles
---

<ul class="list-bare">
    {% assign posts = site.posts|where:"lang", page.lang %}
    {% for post in site.posts %}
        {% if post.lang == page.lang %}
        <li class="activity">
            <div class="media">
                <div class="media__img  activity__img">
                    <a href="{{ post.url }}">
                        <img src="/assets/img/{{ post.img_folder}}/thumb.jpg" alt="" class="fluidimage">
                    </a>
                </div>
                <div class="media__content  activity__content">
                    <h3>{{ post.title }}</h3>
                    <p>{{ post.abstract }}</p>
                    <p><a href="{{ post.url }}">En savoir plus</a></p>
                </div>
            </div>
        </li>
        {% endif %}
    {% endfor %}
</ul>