/* == Colors == */

$color-grey: #909090;

$black: #000000;
$white: #FFFFFF;

$blueLight: #4098B3;
$blueLighter: mix($white, $blueLight, 20%);
$blueLightest: mix($white, $blueLight, 80%);
$blueLightestest: mix($white, $blueLight, 90%);
$blueDark: mix($black, $blueLight, 50%);
$blueDarker: mix($black, $blueLight, 60%);

$greyLight: #202020;


$pageBgColor: $blueDark;

$mainTextColor: $greyLight;
$mainSelectedBgColor: $blueDark;
$mainSelectedTxtColor: $white;

$navItemBgColor: $blueLight;
$navItemTxtColor: $white;
$navItemBorderColor: $blueDark;
$navItemHoverBgColor: $blueLighter;

$strongTxtColor: $blueLight;

$headerTextColor: $blueLight;
$headingTextColor: $blueDark;

$introBgColor: $blueLightest;
$introTxtColor: $blueDark;

$footerBgColor: $blueDark;
$footerTxtColor: $white;

$linksColor: $blueLight;